body {
	background-color: #f1f1f1;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

main {
	margin: 100px auto 0;
	padding: 40px;
	width: 600px;
}

h1, p {
	margin: 0;
}

a {
	margin: 0 5px;
	text-decoration: none;
	color: #4183c4;
}

a:hover {
	text-decoration: underline;
}
